body, html {
    margin: 0;
    padding: 0;
}

.has-bg-img {
    background-image: url("../pictures/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input[type=url] {
    width: 50%;
}

input[type=submit] {
    cursor: pointer;
    background: #A84CFF;
}

.notification {
    color: #A84CFF;
    width: 50%;
    margin: 2rem;
    display: inline-block;
}
